*{
    margin: 0;
    padding: 0;
}
body,html{
    background: #000099;    
    height: 100%;
    width: 100%;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{    
    position: fixed;
    width: 100vw;
    top: 20px;
    left: 0;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Cousine, monospace';
}
#screen{    
    display: block;
}